/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@700&family=Poppins:wght@400;500;700;900&family=Roboto:ital,wght@0,300;0,700;1,500&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}*/

.react-swipeable-view-container{
  margin-left: 5em;
}

@media (max-width:641px){
  .react-swipeable-view-container{
    margin:0;
  }
}
@media (max-width:961px) {
  .react-swipeable-view-container{
    margin:0;
  }
}